@model IEnumerable<assignment1C_.Models.Contact>

<h1>Contacts</h1>
<a class="btn btn-primary" asp-controller="Contact" asp-action="Add">Add Contact</a>
@if (Model == null || !Model.Any())
{
    <p>No contacts available.</p>
}
else
{
<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Category</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in Model)
        {
            <tr>
                 <td><a asp-controller="Contact" asp-action="ContactDetails" asp-route-id="@contact.ContactId">@contact.FirstName</a></td>
                <td>@contact.LastName </td>
                <td>@contact.PhoneNumber </td>
                <td>@contact.Email</td>
                <td>@contact.CategoryId</td>
                
                <td>
                        <a class="btn btn-warning" asp-controller="Contact" asp-action="Edit" asp-route-id="@contact.ContactId">Edit</a>
                        <a class="btn btn-danger" asp-controller="Contact" asp-action="DeleteContact" asp-route-id="@contact.ContactId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
}